*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!*.md
!openocd.cfg
!flake.nix
build/

# mill
!*.mill
!.mill-version
out/
.bsp/
.idea/
.idea_modules/
.bloop/
.metals/
.vscode/
test_run_dir/
